<div class="container">
    <h2>Articolo di Giornale</h2>
    <form method="post">
      <p style="color: lightsalmon;">{{error}}</p>
      <div class="form-group">
        <label for="reato">Titolo dell'articolo</label>
        <input type="text" class="form-control" id="reato" placeholder="Contenuto messaggio" name="titolo">
        <input type="file" name="file" id="file" accept=".pdf">
      </div>
      <button type="submit" class="btn btn-success">Publica Articolo</button>
    </form>
</div>