<div class="container">
    <h2>Pulisci Fedina Penale</h2>
    <form method="post">
      <p style="color: lightsalmon;">{{error}}</p>
      <div class="form-group">
        <label for="sospetto">Nome Sospetto</label>
        <input type="text" class="form-control" id="sospetto" placeholder="Nome_Cognome" name="user">
      </div>
      <div class="form-group">
        <label for="reato">Motivazione</label>
        <input type="text" class="form-control" id="reato" placeholder="Motivazione" name="motivo">
      </div>
      <p style="color: darkorange;">Tutte Le operazioni sono salvate!</p>
      <button type="submit" class="btn btn-success">Pulisci Fedina</button>
    </form>
  </div>