<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Jagged Life RP (404)</title>
</head>
<style>
  body{
    width:100%;
    height: 100%;
    margin:0;
    border:0;
    background:rgb(0, 0, 0);
    overflow:hidden;
  }
  div{
    border-radius: 100px;
  }
</style>
<body>
  <div><center>
    <img src="{{url_for('static',filename='page404.jpg')}}" alt="PAGE NOT FOUND (404)">
  </center></div>
  
</body>
</html>